@page "/feirasOrg"
@using webOnlyFeiras.Pages.Feiras

<div class="align-h">
    <h1 class="wheight600">Feiras</h1>
    <Butao texto="Criar Feira" />
</div>

<div class="grid">
    <Feiras />
</div>

@code {

}
