*.jar
fichas/task1/*.class
fichas/task2/*.class
fichas/task3/*.class
fichas/task4/*.class
fichas/task5/*.class
fichas/projeto_fitness/projeto_fitness.iml
*.iml
fichas/projeto_fitness/projeto_fitness.iml/.idea/
.idea/