# guiao-1 

# docs 

# libs

# obj

# entrada
guiao-1/entrada/*.csv
# saida
guiao-1/saida/*.csv

# guiao-2
guiao-2/commands.txt

# docs 
guiao-2/docs/html/
guiao-2/docs/latex/
guiao-2/docs/xml/
guiao-2/docs/Doxyfile
guiao-2/docs/relatorio_guiao-2.doc

# libs

# obj

# entrada
guiao-2/entrada/*.csv
# saida
guiao-2/saida/*.csv

# src
guiao-2/src/includes/linkedlist.c
guiao-2/src/includes/linkedlist.h
guiao-2/src/includes/btree/


# guiao-3

# docs 

# libs

# obj

# entrada
guiao-1/entrada/*.csv
# saida
guiao-1/saida/*.csv

