@inherits LayoutComponentBase
@inject NotificationService NotificationService

<div class="main">
    <NavBar />
    <div class="content">
        @Body
    </div>
    <footer>
        <Footer />
    </footer>
</div>
