<div class="photo-upload">
    <div class="align-v">
    Carrega uma imagem
    <input style="border:none; margin-top: 5px;" type="file" id="marca_img" name="marca_img"><br><br>
    </div>
</div>

@code {
}

