<div class="bancafeira_right">

    <div class="bancafeira_info_mid">

        <h1 class="wheight600">Par de Solas</h1>
        <h3 class="txt-blue wheight600 te">Corporativa</h3>
        <div class="bancafeira_info_owner">
            <img src="">
            <div>
                <h2></h2>
                <h3 class="txt-small grey wheight600"></h3>
            </div>
        </div>
        <div class="bancafeira_info_desc">
            <h2 class="txt-big">Descrição</h2>
            <h3 class="txt-grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, 
                consectetur accusantium aut vel tempora excepturi doloribus sunt eligendi!
            </h3>
            <h3 class="txt-grey">No OnlyFeiras desde</h3>
        </div>
    </div>

    <div class="bancafeira_info_bottom out_inverted txt-blue"><button >Contactar</button></div>
</div>

@code {

}
